{
  box-sizing: border-box;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #CF2B2B;
  filter: drop-shadow(0px 4px 4px gray);
  width: 414px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
header h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 44px;
  color: #FFFFFF;
}
header p {
  font-family: "'Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
main {
  margin-top: 92px;
}
section {
  background-color: #eeeeee;
  width: 414px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 400px;
  font-size: 26px;
  color: #333333;
  margin-top: 31px;
  margin-bottom: -17px;
}
.carnes, .bebidas, .sobremesas {
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-top: 31px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.seleciona1, .seleciona2, .seleciona3, .seleciona4 {
  background-color: #FFFFFF;
  width: 172px;
  height: 172px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  padding: 10px;
  margin-left: 16px;
}
.borda {
  width: 172px;
  height: 172px;
  filter: drop-shadow(0px 2px 2px #32B72F);
  border: 2px solid #32B72F;
  display: flex;
  position: relative;
}
.borda ion-icon {
  font-size: 19px;
  color: #32B72F;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.seleciona1 img, .seleciona2 img, .seleciona3 img, .seleciona4 img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}
.seleciona1 h3, .seleciona2 h3, .seleciona3 h3, .seleciona4 h3 {
  font-family: "'Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 4px;
}
.seleciona1 p, .seleciona2 p, .seleciona3 p, .seleciona4 p {
  font-family: "'Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #A6A6A6;
}
.seleciona1 h4, .seleciona2 h4, .seleciona3 h4, .seleciona4 h4 {
  font-family: "'Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000; 
  margin-top: 9px;
  margin-bottom: 13px;
}
.final {
  background-color: #FFFFFF;
  width: 414px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.fechar-pedido {
  background-color: #CBCBCB;
  width: 364px;
  height: 61px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "'Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}